{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@emotion",
      {
        "autoLabel": "dev-only",
        "labelFormat": "[local]"
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./dist"],
        "alias": {
          "src": "./dist"
        }
      }
    ]
  ]
}
