import React from "react";

/*
* Please edit me!
*/
type {{properCase name}}Props = {};
export const {{properCase name}}: React.ComponentType<{{properCase name}}Props> = () => <h1>{{properCase name}}</h1>;

